<h1 mat-dialog-title>Introduction</h1>
<div mat-dialog-content>
  <p>
    The <a href="https://www.gesetze-im-internet.de/tehg_2011/" target="_blank">Treibhausgas-Emissionshandelsgesetz (TEHG)</a> 
    lays the foundations for the European Union <a href="https://ec.europa.eu/clima/policies/ets_en" target="_blank">Emissions Trading System (EU ETS)</a> 
    and requires that certain facilities (such as factories and power stations) are registered and provide reports on their emissions. This demo shows the 
    registered facilities in Berlin and their emissions from 2005 – 2017. 
  </p>
  <p>
    Values are given in <a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Carbon_dioxide_equivalent" target="_blank">CO2-equivalent emissions</a>.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onClickClose()">OK</button>
</div>
