.div__details {
    padding-left: 30px;
}

.header__text {
    font-size: 1.5em;
    font-weight: bold;
}

.table__key {
    text-align: left;
    vertical-align: 0px;
    color: #515A5A;
}

.table__value {
    width: 40vw;
    text-align: left;
    vertical-align: 0px;
    padding-left: 40px;
    font-weight: bold;
}
