<div class="div__details">
  <div class="header__text">{{ fName }}</div>
  <p><i>{{ fAddress }}</i></p>
  <table>
    <tbody>
      <tr>
        <td class="table__key">Operator</td>
        <td class="table__value">{{ fOperator }}</td>
      </tr>
      <tr>
        <td class="table__key">Type</td>
        <td class="table__value">{{ fType }}</td>
      </tr>
      <tr>
        <td class="table__key">Status</td>
        <td class="table__value">{{ fStatus }}</td>
      </tr>
      <tr>
        <td class="table__key">Classification</td>
        <td class="table__value">{{ fClassification }}</td>
      </tr>
    </tbody>
  </table>  
</div>
