<br>
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [xAxisTickFormatting]="formatYear"
  [roundEdges]="roundEdges"
  (select)="onSelect($event)">

  <ng-template #tooltipTemplate let-model="model">
    <p>
      <span>{{ model.name }}</span>
      <br>
      <span class="tooltip-value">{{ model.value | formatNumber }}</span>      
    </p>
  </ng-template>
  
</ngx-charts-bar-vertical>
